/* Responsive Css */
@media (min-width: 768px)
.modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

@media (min-width: 576px)
.modal-sm {
    max-width: 516px !important;
}